
<div ng-controller="PacProfileCtrl">
  <p ng-show="pacProfilesUnsupported" class="alert alert-danger width-limit"><span class="glyphicon glyphicon-remove"></span> {{'options_pac_profile_unsupported_moz' | tr}}
  </p>
  <section>
    <h4>{{'options_group_pacUrl' | tr}}</h4>
    <div input-group-clear="input-group-clear" clearable="false" type="text" model="profile.pacUrl" ng-pattern="referenced ? urlRegex : urlWithFile" controller="pacUrlCtrl.ctrl" class="width-limit" ></div>
    <!--<input type="text" model="profile.pacUrl" ng-pattern="referenced ? urlRegex : urlWithFile" controller="pacUrlCtrl.ctrl" class="width-limit">-->
      <div ng-show="profile.pacUrl &amp;&amp; !pacUrlIsFile" style="margin-top:1rem">
        <button ng-click="updateProfile(profile.name)" ladda="updatingProfile[profile.name]" data-spinner-color="#000000" ng-class="profile.pacUrl &amp;&amp; !profile.lastUpdate ? &quot;btn-primary&quot; : &quot;btn-default&quot;" class="btn"> {{'options_downloadProfileNow' | tr}}</button>
          <span id="updateMessage"></span>
      </div>
 </section>
</div>